*{
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
}
.container{
  width: 1250px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* SITE HEADER  */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo-link {
  display: block;
}
.site-logo-img {
  display: inline-block;
  width: 160px;
  height: 41px;
}
.site-nav-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.site-nav-item{
  margin-left: 40px;
}
.site-nav-link{
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
}
.site-nav-link--active{
  font-weight: bold;
  opacity: 1;
}
/* SITE HERO  */

.site-hero{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-hero-content{
  width: 445px;
}
.hero-content-heading{
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 56px;
}
.hero-content-text{
  margin: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}
.hero-content-button {
  padding-right: 40px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  color: #ffffff;
  background-color: #458ff6;
  border: none;
  border-radius: 55px;
  cursor: pointer;
}
/* SITE OUR SERVICE */
.site-sevice {
  margin-top: 80px;
}
.service-heading {
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
}
.service-hr {
  width: 56px;
  height: 2px;
  background-color: #000000;
  border-radius: 6px;
}
.service-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7D7987;
  margin-left: 125px;
  margin-right: 125px;
}
.service-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.service-item {
  width: 350px;
  margin: 17.5px;
  margin-top: 0;
  margin-bottom: 35px;
}
.service-item-heading {
  font-size: 24px;
  line-height: 56px;
}
.service-item-text{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
.service-button {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  background-color: #ffffff;
  color: #458FF6;
  border: 1px solid #458FF6;
  border-radius: 55px;
}
/* screen-1 */
.screen-1 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen-1-content {
  width: 490px;
}
.content-heading {
  margin: 0;
  margin-bottom: 34px;
  font-size: 36px;
  line-height: 56px;
}
.content-hr {
  display: inline-block;
  width: 56px;
  height: 2px;
  margin-bottom: 30px;
  background-color: #000000;
  border-radius: 6px;
}
.content-text {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}
.content-button {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  background-color: #ffffff;
  color: #458FF6;
  border: 1px solid #458FF6;
  border-radius: 55px;
}
/* site screen-2 */
.site-screen-2 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.screen-2-content {
  width: 420px;
}
.screen-2-heading {
  font-size: 36px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 25px;
}
.screen-2-hr {
  display: inline-block;
  width: 56px;
  height: 2px;
  background-color: #000000;
  border-radius: 6px;
}
.screen-2-text {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}
.screen-2-button {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  background-color: #ffffff;
  color: #458FF6;
  border: 1px solid #458FF6;
  border-radius: 55px;
}
/* banner */
.site-banner {
  margin-top: 80px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  /* display: flex;
  align-items: center;
  justify-content: space-between;*/
}
.banner-heading {
  width: 1120px;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 25px;
  padding-top: 50px;

}
.banner-hr {
  width: 56px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 6px;
  }
.banner-content {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-img {
  margin-left: 100px;
}
.banner-heading {
  margin-left: 20px;
  margin-right: 100px;
  margin-bottom: 50px;
}
.name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
}
.job {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 48px;
  color: #ffffffd9;
}
.banner-text {
  margin: 0;
  margin-right: 100px;
  font-size: 19px;
  line-height: 30px;
  color: #ffffffe6;
}
/* article */
.site-article {
  margin-top: 100px;
}
.article-heading {
  margin: 0;
  text-align: center;
  font-size: 36px;
  line-height: 56px;
}
.article-hr {
  width: 56px;
  height: 2px;
  background-color: #000000;
}
.article-list {
  width: 1120px;
  margin: 0;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.article-item {
  width: 350px;
  margin: 0;
}
.item-heading {
  font-size: 21px;
  line-height: 32px;  
  width: 250px;
  margin: 0;
}
.item-text {
  width: 280px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}
.article-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
}
.article-button {
  width: 200px;
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  background-color: #ffffff;
  color: #458ff6;
  border: 2px solid #458ff6;
  border-radius: 55px;
  }
  /* footer */
.footer-wrapper {
  background-color: #45ace0;
  
}
.footer{
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contect {
  width: 400px;
  margin-right: 100px;
}
.footer-text {
  padding: 10px;
  font-size: 18px;
  line-height: 20px
}
.footer-text2 {
  padding: 5px;
  font-size: 16px;
  line-height: 20px
}
.footer-list{
  width: 680px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.footer-item{
  width: 200px;
}
.company{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.region{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.help{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.item-heading {
  margin-bottom: 15px;
}
.company-item {
  margin: 10px;
}
.region-item {
  margin: 10px;
}
.help-item {
  margin: 10px;
}
.link {
  text-decoration: none;
  color: #ffffff;
}